:root {
    --main_blue:#3F7FDF;
}
.global {
    background-color: var(--main_blue);
}
.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-style: bold;
    font-size: xx-large;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-style: bold;
    padding-bottom: 20px;
}
.botaoMedio {
    font-size: medium;
    color: white;
    text-decoration: none;
}
.botaoPequeno {
    font-size: small;
    color: white;
    text-decoration: none;
}
.botao-chip-branco{
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    font-style: normal;
    color:  var(--main_blue);
    background-color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.texto-branco {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    font-style: normal;
    color: white;
    background-color:  transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label {
    color: white;
}
table {
    background-color: white;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
th {
    color: var(--main_blue);
    font-size: large;
}
td {
    font-weight: 600;
    color: black;
    background-color:  transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}